{% extends 'base.html' %}
{% load static %}
{% block content %}

  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to Emerald Design</h1>
      <p class="lead">We're a small web design company located in Ireland, dedicated to building beautiful and functional websites for our clients.</p>
      <!-- <hr class="my-4">
      <p>Take a look at our portfolio and get in touch with us to discuss your next project!</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <h4 class="card-title">Beautiful Design</h4>
            <p class="card-text">We're passionate about design and take pride in creating websites that are both spectacular and functional.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <h4 class="card-title">Responsive Layout</h4>
            <p class="card-text">We make sure that your website looks great on all devices, from desktops to smartphones.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <h4 class="card-title">Easy to Use</h4>
            <p class="card-text">We believe that your website should be easy to use and navigate, so your visitors can find what they're looking for quickly and easily.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h2>Our Services</h2>
        <p>We offer a range of web design services to suit your needs, including:</p>
        <ul>
          <li>Custom website design and development</li>
          <li>E-commerce websites</li>
          <li>Website maintenance and support</li>
          <li>Website hosting</li>
        </ul>
        <p>Take a look at our <a href="/pricing">pricing page</a> for subscription information.</p>
      </div>


      <div class="col-md-6">
        <h2>Contact Us</h2>
        <p>Get in touch with us to discuss your next project.</p>
        <ul>
          <li>Email: emeraldwebdesign@gmail.com</li>
          <li>Phone: 083 457 1723</li>
        </ul>
        <!-- <p>You can also find us on <a href="#">Facebook</a> and <a href="#">Twitter</a>.</p> -->
      </div>
    </div>
  </div>
  {% endblock %}
