{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Pricing</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3>Basic</h3>
          <img src="emerald.png">

        </div>
        <div class="panel-body">
          <span class="price"><sup>€</sup>49<small>/month</small></span>
        </div>
        <ul class="list-group">
          <li class="list-group-item"><strong>5</strong> Pages</li>
          <li class="list-group-item"><strong>1</strong> Domain Name</li>
          <li class="list-group-item"><strong>10</strong> Email Accounts</li>
          <li class="list-group-item"><strong>Basic</strong> Support</li>
        </ul>
        <div class="panel-footer">
          <a class="btn btn-lg btn-block btn-primary" href="#">Sign Up</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3>Standard</h3>
        </div>
        <div class="panel-body">
          <span class="price"><sup>€</sup>79<small>/month</small></span>
        </div>
        <ul class="list-group">
          <li class="list-group-item"><strong>10</strong> Pages</li>
          <li class="list-group-item"><strong>1</strong> Domain Name</li>
          <li class="list-group-item"><strong>20</strong> Email Accounts</li>
          <li class="list-group-item"><strong>Premium</strong> Support</li>
        </ul>
        <div class="panel-footer">
          <a class="btn btn-lg btn-block btn-primary" href="#">Sign Up</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3>Premium</h3>
        </div>
        <div class="panel-body">
          <span class="price"><sup>€</sup>99<small>/month</small></span>
        </div>
        <ul class="list-group">
          <li class="list-group-item"><strong>20</strong> Pages</li>
          <li class="list-group-item"><strong>1</strong> Domain Name</li>
          <li class="list-group-item"><strong>30</strong> Email Accounts</li>
          <li class="list-group-item"><strong>Priority</strong> Support</li>
        </ul>
        <div class="panel-footer">
          <a class="btn btn-lg btn-block btn-primary" href="#">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
